html, body {
    height: 100%;
}

.maincontainer {
    position: relative;
    min-height: 100%;
}

.container {
    width : 100%;
    padding-bottom:60px;   /* Height of the footer */
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    color: #0b97c4;
}

header {
    background-color:lightgray;
    height: 60px;
    text-align: center;
}

header h1 {
    margin: 0;
    padding-top: 12px;
}

footer {
    margin-top:30px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    position: absolute;
}

table tr td{
    text-align: left;
    word-wrap: break-word;
}

.maintable{
    width:95%;
    margin: auto;
}

#detailsscreen {
    width: 100%;
}

#detailsscreen h3 {
    text-align: center;
}
.detailstable {
    width: 100%;
    overflow: auto;
}

.spinner {
    background-image: url('images/spinner.gif');
    background-repeat: no-repeat;
    width: 25%;
    margin: auto;
    padding: 2px 0 5px 30px;


}

#pathform {
    margin-bottom: 20px;
}
.pagination {
    display: inline-block;
    float: right;
    margin: 0;
}

.pagination-control li {
    display: inline-block;
}

.pagination-control button{
    margin-top: -26px;
}

.searchdescription {
    float: left;
    text-align: left;
    margin: 20px 0;
}

.desclabel {
    font-weight:bold;
    color: darkblue;
}

#information{
    height: 80px;
}

.filters {
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#filterby {
    width: inherit;
    display: inline;
}

.form-inline{
    padding-top: 10px;
}

.resultsperpage {
    float: right;
    margin: 10px;
}

.error {
    color: red;
    margin-top: 5px;
}

.resultsperpage a.inactive {
    text-decoration: underline;
}
.resultsperpage a.active {
    color: purple;
}

@media all and (max-width: 1280px){

}

@media all and (max-width: 650px){
    .table{
        font-size:10px;
    }
    header h1 {
        margin: 0;
        padding-top: 2px;
    }
    header {
        height: 10%;
    }
    footer {
        position: relative;
    }
}